<div class="row">
  <div class="col-md-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h1><%= t('views.profiles_new.title_p_new') %></h1>
      </div>

      <div class="ibox-content">
        <%= render 'form', name_profile: @name_profile %>

        <div> &nbsp; <br> &nbsp; <br> &nbsp;</div>
        <p> &nbsp; &nbsp; <br> &nbsp; &nbsp; <br> &nbsp; &nbsp; <br></p>
      </div>
    </div>
  </div>
</div>